@use "../variables" as v;
@use "../mixins" as m;
.nav {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;
  border-bottom: 3px solid v.$primary-accent;
  padding: 0 5rem;
  margin-bottom: 3px;
  background-color: v.$secondary-background;
  font-family: v.$title-font;
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: v.$secondary-accent;
    position: absolute;
    bottom: -5px;
    left: 0rem;
  }

  //logo
  @include m.logo;

  .authLinksHolder {
    display: flex;
    gap: 1rem;
    align-items: center;
    a {
      color: v.$text-color;
      font-size: large;
      background-color: v.$secondary-accent;
      padding: 0.75rem;
      border-radius: 0.4rem;
      min-width: fit-content;
      transition: all linear 0.25s;
      &:hover {
        opacity: 0.7;
        transform: translateY(2.5px);
      }
    }
    a:nth-child(2) {
      background-color: v.$primary-accent;
    }
  }
}
